<f:layout name="Default" />

<f:section name="content">
    <div class="organization-list">
        <div class="container">
            <div class="form-card-header">
                <div class="gray-circle">1</div>
                <span class="gray-text">CODE</span>
                <div class="black-circle">2</div>
                <span class="black-text">ORGANISATION</span>
            </div>
            <div id="organizationContainer">        
        
                <!-- Organization cards will be dynamically loaded here -->
            </div>
        </div>
    </div>
    <button id="submit" class="btn btn-success">spenden/donate</button>
</f:section>


<f:section name="scripts">
    <script src="Public/JS/api.js"></script>
    <script src="Public/JS/organization.js" defer></script>
</f:section>