/* Apply these styles to the body or a main container element */
.body, .main-container {
    /* Layout Properties */
    margin: 0;
    padding: 0;
    width: 1200px; /* This sets a fixed width for the content */
    height: 869px; /* This sets a fixed height for the content */
    /* UI Properties */
    background-color: #FFFFFF; /* Background color */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* Adjust if you have a background image */
    opacity: 1;
    /* Centering the container if needed */
    margin-left: auto;
    margin-right: auto;
    /* Additional styling for content alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.html, .body {
    height: 100%;
}

/* Header styles */
.header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}



.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    padding: 20px 0;
}

.logo {
    top: 16px;
    left: 471px;
    width: 109px;
    height: 51px;
    margin-right: 10px; /* Space between logo and title */
}

.site-title {
    top: 24px;
    left: 597px;
    width: 132px;
    height: 34px;

    font: normal normal bold 30px/35px Ubuntu;
    color: #000000;
    margin: 0;
}


/* Intro text styles */
.intro-text {
    /* margin-top: 20px; */
    width: 483px;
    text-align: center;
    margin: auto;
}

.intro-title {
    font: bold 20px Ubuntu;
    color: #000;
    text-transform: uppercase;
}

.intro-description {
    font: normal 16px Open Sans;
    color: #000;
    width: 483px;
    height: 44px;
    text-align: left;
}

/* Footer styles */
.footer {
    /* top: 1458px; */
    left: 0px;
    width: 1200px;
    height: 90px;
    margin-top: 20px;
    
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* ****************************** validation css ************************ */

/*  ****************form header************** */
.form-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 4px;
}

.black-circle {
    top: 364px;
    left: 410px;
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.black-text {
    font: bold 16px Open Sans;
    color: #000000;
    margin-left: 10px;
    margin-right: 20px;
}

.gray-circle {
    top: 364px;
    left: 533px;
    width: 24px;
    height: 24px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #CCCCCC;
    opacity: 1;
    justify-content: center;
    font-weight: bold;
}

.gray-text {
    font: bold 16px Open Sans;
    color: #CCCCCC;
    margin-left: 10px;
    margin-right: 20px;
}

/* Card and form styling */
.code-card {
    top: 340px;
    left: 358px;
    width: 484px;
    height: 305px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
    background-color: #fff;
}

.instruction {
    margin: 0;
    padding: 10px 0;
    color: #000000;
    font: normal normal normal 16px Open Sans;
}

::placeholder {
    color: #F6A000; /* Initial placeholder color */
}

.code-input {
    position: relative;
    width: 159px;
    height: 65px;
    border: 1px solid #F6A000;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    color: #F6A000;
    margin-bottom: 20px;
    opacity: 1;
}
.code-input.error {
    border-color: #FF0000;
}

.code-input.error::placeholder {
    color: #FF0000; 
}

.validation-error {
    top: 618px;
    left: 414px;
    width: 287px;
    height: 35px;
    color: #FF0000;
    font: normal normal normal 12px/15px Montserrat;
    opacity: 1;
    margin-top: 10px;
}

.text-danger {
    color: #FF0000;
}

.btn-position-class {
    display: flex;
    justify-content: center;
    margin: auto;
}

.btn-next {
    margin-top: 20px;
    margin-left: 350px;
    width: 171px;
    height: 48px;
    margin-bottom: 50px;
    background: #F6A000 no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    cursor: pointer;
}

/* ************************* organization cards ************************* */

/* General Card Styles */
.card {
    width: 382px;
    height: 180px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    opacity: 1;
    margin: 20px 0;
    position: relative; /* To use top/left for positioning if needed */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width/height */
}

/* Selected Card Styles */
.card.selected {
    border: 3px solid #F6A000;
}

/* Card Image */
.card-img-top {
    width: 131px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: contain; /* Adjust image to fit */
    float: left;
}

/* Card Link */
.card-link {
    color: #F6A000;
    font: normal normal normal 14px/19px Open Sans;
    text-decoration: none;
    float: right;
    margin-top: 10px; /* Align with image */
}

/* Card Text */
.card-text {
    clear: both; /* Clear floats */
    font: normal normal normal 14px/19px Open Sans;
    color: #3C3C3B;
    margin-top: 10px;
    white-space: pre-wrap; /* Preserve line breaks for multi-language text */
}

/* Margin for English translation */
.card-text.english-translation::before {
    content: "\A"; /* Line break before English translation */
    white-space: pre;
}

.validate-page, .validate-card-section, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.organization-list {
    /* top: 340px; */
    left: 358px;
    width: 484px;
    /* height: 305px; */
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    opacity: 1;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    margin: auto;
}


.footer-done {
    position: absolute;
    bottom: 0;
    background: #333; /* Example background color */
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

.footer {
    /* position: absolute; */
    bottom: 0;
    background: #333; /* Example background color */
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 5px;
    font: normal normal normal 12px/17px Open Sans;
}

.footer-copy {
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}