<f:layout name="Default" />

<f:section name="content">
    <div class="validate-page">
        <section class="intro-text">
            <div class="container">
                <div class="card code-card">
                    <f:render partial="FormHeader" />
                    <hr>
                    <p class="instruction">Bitte geben Sie hier Ihren 8-Stelligen Code Ihrer CHARITYCARD ein.</p>
                    <p class="instruction">Please enter your 8-digit code of your CHARITYCARD here.</p>
                    <input type="text" class="form-control code-input" id="donationCode" placeholder="IW123456">
                
                    <!-- Error message section -->
                    <!-- <f:if condition="{validationResult.status} == 'error'">
                        <f:then>
                            <div class="validation-error">
                                <p>Der eingegebene Code wurde bereits eingelöst.</p>
                                <p>The entered code has already been redeemed.</p>
                            </div>
                        </f:then>
                    </f:if> -->
                    <!-- Placeholder for error message -->
                    <div id="message" class="validation-error" style="display: none;"></div>
                </div>

                <button class="btn btn-next" onclick="validateCode()">weiter/next</button>
            </div>
        </section>
    </div>
</f:section>

<f:section name="scripts">
    <script src="Public/JS/api.js"></script>
    <script src="Public/JS/validation.js"></script>
</f:section>